@font-face {
    font-family: "Frutiger";
    src: url("../webfonts/fru/frutiger-normal-5871d13e09363.ttf");
}
html, 
body {
    height: 100%;
    background-color: #0a1332;
}

/* #region Navbar */
nav{
    background-color: transparent;
    padding: 0px 20px;
    direction:rtl;
}

nav a img:first-of-type{
    width: 60px;
    margin-right: 20px;
}

nav a img:nth-of-type(2){
    width: 120px;
    margin-right: 20px;
}


nav ul{
    text-align: right;
    margin: auto;
    direction: ltr;
}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

nav ul li {
    margin: 0px 20px;
}

nav ul li a:hover,
nav ul li,
nav ul li .active{
    color:#4f693a;
    font-weight: bold;
}
nav button {
    border: none;
    background: #4f693a;
    color: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    margin-bottom: 3px;
}
nav .navbar-collapse img{
    width: 100px;
    height: 59px;
}

/* #endregion */

#left-arrow,
#right-arrow{
    text-align: center;

}

#left-arrow:hover,
#right-arrow:hover{
cursor: pointer;
}
.nav-fill {
    margin-top:5px;
}
.nav-fill .nav-item{
    background-color:#4f693a;
    margin:0px 5px;
    border-radius: 3px;
   
}
.nav-fill .nav-item a{
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-fill .nav-item .active{
    background-color: #a5cc7d;
    color:#14242d;
}

#left-arrow,
#right-arrow{
height: fit-content;
}

#left-arrow i ,
#right-arrow i
{
    color:#fff;
    font-size: 85px;
    margin-bottom: 5px;
}

#left-arrow p ,
#right-arrow p{
    color:#fff;
}

#left-arrow,
#right-arrow 
{
    position: relative;
    top: 250px;
}

.MContaint{
    margin-top: 10px;
    padding: 0px;
    width: 100%;
}

.containt #service-type .stick,
.containt #request-type .stick,
.containt #start-request .stick{
    text-align: center;
    background-color: #283758;
    border-radius: 15px;
    color: #fff;
    width: 88%;
    padding: 25px 0px;
    height: 207px;
    margin: 10px;
    padding-top: 15px;
}

.containt #service-type .stick p,
.containt #request-type .stick p,
.containt #start-request .stick p{
    margin: 0px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
}

.containt #service-type  .col-md-3 .stick img{
    width: 90px;
    margin-bottom: 40px;
}

.containt #service-type   .stick p:nth-of-type(1),
.containt #service-type   .stick p:nth-of-type(2),
.containt #request-type  .stick p:nth-of-type(1)
{
    letter-spacing: 0.3em;
    font-weight: 500;
}

.containt #service-type  .col-md-3:nth-of-type(2) .stick p:nth-of-type(2),
.containt #request-type .col-md-3:nth-of-type(2) .stick p:nth-of-type(2){
    letter-spacing: 0.15em;
}
.containt #service-type  .col-md-3:nth-of-type(2) .stick p:nth-of-type(3),
.containt #request-type .col-md-3:nth-of-type(2) .stick p:nth-of-type(3){
    letter-spacing: 0.7em;

}
#request-type .stick img{
    width: 115px;
    margin-bottom: 20px;
}
.containt #start-request .stick{
    margin:auto;
    height: 250px;
    width: 88%;
}

.containt #start-request .stick p{
    font-size: 22px;
    font-weight: bold;
}

.containt #start-request .first{
    letter-spacing: 0.6em;
}

.containt #start-request .second{
    letter-spacing: 0.1em;
}

.containt #start-request .first1{
    letter-spacing: 0.3em;
}

#start-request .stick img {
    width: 110px;
    margin-bottom: 35px;
    background-color: rgb(79, 105, 58);
    padding: 24px 13px;
    border-radius: 9px;
}

#start-request .stick p{
    letter-spacing: 0.5em;
}

#start-request .main-title{
    margin:5px 0px 20px;
}

#start-request .main-title p{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#start-request .main-title p:first-of-type{
    letter-spacing: 0.2em;
    font-size: 26px;
    font-weight: 500;
}

#start-request .main-title p:nth-of-type(2){
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    font-weight: 500;
    font-size: 24px;
}
#personel-data-m ,#personel-data{
    padding:0px;
}

#personel-data-m p,
#Documents-m p,
#Confirmation-m > p{
    text-transform: uppercase;
    font-size: 24px;
    color:#fff;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
}

#personel-data,
#Documents,
#Confirmation {
    background-color: #283758;
}

#personel-data .row,
#Documents .row{
    Margin:8px 0px;
    padding:5px 5px 5px;
}

#personel-data .row .col-md-3:nth-of-type(1) ,
#Documents .row .col-md-3:nth-of-type(1) {
    color:#fff;
    padding: 5px 10px;
    text-transform: uppercase;
}

#personel-data .row{
    margin-bottom: 0px;
}
#personel-data .row .col-md-2{
    padding:5px 0px;
}
#personel-data .row .col-md-2:nth-of-type(4){
    padding:0px 20px;
}
#personel-data .row .col-md-2 label{
    color:#fff;
    font-size: 14px;
}

#personel-data .row  img,
#Documents .row  img{
    width: 15px;
}

#personel-data .row .col-md-2 select{
    width: 84%;
    border-radius: 4px;
    margin:1px 0px;
    font-size: 14px;
}

#personel-data .row .col-md-2 input{
    width: 84%;
    height: 25px;
    border-radius: 4px;;
    border:none;
    margin:1px 0px
}

#Documents .row {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#Documents .row .col-md-3 {
    padding:0px
}
#Documents .insideTextArea{
    position: absolute;
}
#Documents .insideTextArea img{
    margin:10px
}
#Documents .insideTextArea span{
    color: #939999;
    font-size: 12px;
    margin: 0px 50px;
}

#Documents .row 
#Documents select {
    width: 85%;
    border-radius: 4px;
    font-size: 14px;
}

#Documents textarea {
    width: 100%;
    resize: none;
    height: 335%;
    border-radius: 5px;
}
#Documents .col-md-8{
    background-color: #fff;
    border-radius: 4px;
}

#Documents .col-md-8 >p{
    font-size: 14px;
    color: #585757;
    font-weight: normal;
    margin-bottom: 0px;
}
#Documents .col-md-8 >p i{
    font-size: 16px;
}
#Documents .col-md-8 .row{
    margin-top: 0px;
}
#Documents .col-md-1{
    width: 30px !important;
    padding:0px
}
#filesName .fileshow{
    background-color: #eee;
    font-size: 14px;
    margin:0px 20px 5px 0px;
}

#Documents .col-md-8:last-of-type{
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#Documents .col-md-8:last-of-type a,
#Documents .col-md-8:last-of-type a:hover{
    text-decoration: none;
    color:#000;

}


#Confirmation{
    padding:0px 11%;
}

#Confirmation p,
#Confirmation li{
    color:#fff;
    font-weight: bold;
}
#Confirmation p{
    font-size: 24px;
}

#Confirmation p::first-letter{
    text-transform: capitalize;
}
#Confirmation li {
    font-size: 20px;
}
#Confirmation li span{
    color:#a5cc7d;
    text-transform: uppercase;
    font-weight: bold;
}
#Confirmation button{
    text-align: center;
    width: 185px;
    margin: 10px 25px 20px;
    color:#4f693a;
    text-transform: uppercase;
    font-weight: bold;
    border:none;
    box-shadow: 3px 5px 3px #000;
}

#Confirmation button span{
    font-size: 24px;
}

#Confirmation .success{
    background-color: #4f693a;
    color: #fff;
    font-weight: bold;
    padding: 10px 5px;
    font-size: 18px;
    margin: 20px 0px;
    box-shadow: 3px 5px 3px #000;
    display: none;
}
#Confirmation .success span:nth-of-type(1){
    word-spacing: 12px;
}

#Confirmation .success span:nth-of-type(2){
    word-spacing: 7px;
}

.stick:hover{
    box-shadow: 3px 5px 12px #6e6e6e;
    cursor: pointer;
}
.stick.active{
    box-shadow: 3px 5px 12px #6e6e6e, -3px -5px 12px #5a5a5a;
}


.containt2 .col-md-12{
    margin:auto;
    width: 90%;
    text-align: center;
}

.containt2 .col-md-12:first-of-type,
.containt2 .col-md-12:nth-of-type(2){
    background-color: #283758;
}
.containt2 .row .col-md-12:first-of-type img{
    width: 46px;
    border: 2px solid #4f693a;
    border-radius: 5px;
    line-height: -7px;
    margin-top: -16px;
  
}

.containt2 .row .col-md-12 p,
.containt2 .row .col-md-12 label{
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}
.containt2 .row .col-md-12:first-of-type{
    margin-bottom: 7px;
}

.containt2 .row .col-md-12:nth-of-type(2){
    margin-bottom: 30px;
}

.containt2 .row .col-md-12:first-of-type p{
    padding:15px 0px;
    margin-bottom:0px
}

.containt2 .row .col-md-12:first-of-type div span{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    padding: 4px 0px;
    margin-top: 7px;
}

.containt2 .row .col-md-12:nth-of-type(2) label{
    padding: 15px 10px;
}

.containt2 .row .col-md-12:nth-of-type(2) input{
    width: 200px;
}

.containt2 .row .col-md-12:nth-of-type(3) label{
    font-size: 15px;
    text-align: left;
}

.containt2 .row .col-md-12:nth-of-type(3) span{
    font-size: 16px;
    color:#b73559;
    background:#fff;
    width: 120px;
    display: inline-block;
    font-weight: bold;
}

.containt2 .row .col-md-12:nth-of-type(3) .col-md-3:nth-of-type(1) label{
    position: relative;
    bottom: 28px;
    margin-right: 20px;
}

.containt2 .row .col-md-12:nth-of-type(3) .col-md-3:nth-of-type(1) span{
    width: 30px;
    height: 20px;
}

.containt2 .row .col-md-12:nth-of-type(3) .col-md-3:nth-of-type(1) span.active span{
    background-color:#b73559;
    height: 15px;
    width: 25px;
}

.containt2 .row .col-md-12:nth-of-type(3) .col-md-3:nth-of-type(2) span,
.containt2 .row .col-md-12:nth-of-type(3) .col-md-3:nth-of-type(4) span{
    position: relative;
    bottom: 16px;
}